# Node modules
node_modules/

# Build outputs
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor/IDE-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Cache directories
.cache/
vite.cache/
coverage/
*.log

# Dependency directories
/.pnp
.pnp.js
yarn.lock
pnpm-lock.yaml

# Favicon and public files (optional)
public/assets/

# React Native specific files
*.hmap
*.xcuserstate

# Miscellaneous
*.env
*.pid
*.seed
*.pem

# Backend-specific files
package-lock.json
yarn.lock
mongo-data/

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
**.pem
#amplify-do-not-edit-end
